@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-primary-dark: #2563eb;
  --color-secondary: #f3f4f6;
  --color-text-main: #1f2937;
  --color-text-light: #6b7280;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  background-color: #f9fafb;
  color: var(--color-text-main);
  margin: 0;
  padding: 0;
}
